/* sidebar styles */
.sidebar-container{
    width: 100%;
    height: 100vh;
    background: var(--clr-black);
    position: fixed;
    top: 0;
    left: -100%;
    transition: var(--transition);
    opacity: 0;
    z-index: 10;
}
.sidebar-container.show-sidebar{
    left: 0;
    opacity: 1;
}
.side-header img{
    width: 30px;
}
.sidebar-container .side-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.sidebar-container .sidebar-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.sidebar-container .sidebar-links {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}
.sidebar-container .sidebar-links .sidebar-link{
    color: var(--clr-white);
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
    border-radius: var(--radius);
    font-size: 16px;
    font-weight: bold;
}
.sidebar-container .sidebar-links .sidebar-link.active,
.sidebar-container .sidebar-links .sidebar-link:hover {
    color: var(--clr-black);
    background: var(--clr-white);

}